{% extends 'base.html.twig' %}
{% block stylesheets %}    <link rel="stylesheet" href="{{ asset('CSS/StyleNew.css') }}"> {% endblock %}
{% block title %}Creation New Eleve{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Eleve</h1>

    <div class="formAll">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.dateDeNaissance) }}
        {{ form_row(form.password) }}
        {{ form_row(form.option) }}
        {{ form_row(form.promo, {'attr': {'class': 'custom-select'}}) }}
        {{ form_row(form.portefeuille, {'attr': {'class': 'custom-select'}}) }}
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
        <a href="{{ app.request.headers.get('referer') }}">back</a>
    </div>

{% endblock %}