{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ eleve.dateDeNaissance ? eleve.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Option</th>
                <td>{{ eleve.option }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ app.request.headers.get('referer')  }}">Retour </a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">Modifier</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
