{% extends 'base.html.twig' %}

{% block title %}Situation index{% endblock %}

{% block body %}
    <h1>Situation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situation in situations %}
            <tr>
                <td>{{ situation.id }}</td>
                <td>{{ situation.nom }}</td>
                <td>{{ situation.lieu }}</td>
                <td>{{ situation.date ? situation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_situation_show', {'id': situation.id}) }}">Voir</a>
                    <a href="{{ path('app_situation_edit', {'id': situation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d'enregistements trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_situation_new') }}">Créer une nouvelle situation</a>
{% endblock %}
