{% extends 'base.html.twig' %}

{% block title %}Situation{% endblock %}

{% block body %}
    <h1>Situation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ situation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ situation.nom }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ situation.lieu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ situation.date ? situation.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_situation_edit', {'id': situation.id}) }}">Modifier</a>

    {{ include('situation/_delete_form.html.twig') }}

    <h2>Activites</h2>

    <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>description</th>
                <th>type</th>
                <th>competence</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in situation.activites %}
            <tr>
                <td>{{ activite.nom }}</td>
                <td>{{ activite.description }}</td>
                <td>{{ activite.type }}</td>
                <td>{{ activite.competence }}</td>
                <td>
                    <a href="{{ path('app_activite_show', {'id': activite.id}) }}">Voir</a>
                    <a href="{{ path('app_activite_edit', {'id': activite.id}) }}">Modifer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">Retour</a>
{% endblock %}
