{% extends 'base.html.twig' %}


{% block title %}Profil{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>email</th>
            <th>prenom</th>
            <th>nom</th>
            <th>promo</th>
            <th>option</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ email }}</td>
                <td>{{ prenom }}</td>
                <td>{{ nom }}</td>
                <td>{{ promo }}</td>
                <td>{{ option }}</td>
                <td>
                    <a href="{{ path('app_eleve_edit', {'id': id}) }}">Modifer</a>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
