{% extends 'base.html.twig' %}

{% block title %}GroupeCompetence index{% endblock %}

{% block body %}
    <h1>GroupeCompetence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe_competence in groupe_competences %}
            <tr>
                <td>{{ groupe_competence.id }}</td>
                <td>{{ groupe_competence.nom }}</td>
                <td>
                    <a href="{{ path('app_groupe_competence_show', {'id': groupe_competence.id}) }}">Voir</a>
                    <a href="{{ path('app_groupe_competence_edit', {'id': groupe_competence.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas d'enregistrements trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_groupe_competence_new') }}">Créer un nouveau Groupe de Compétence</a>
{% endblock %}
