{% extends 'base.html.twig' %}

{% block title %}GroupeCompetence{% endblock %}

{% block body %}
    <h1>GroupeCompetence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe_competence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ groupe_competence.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ app.request.headers.get('referer')  }}">Retour</a>

    <a href="{{ path('app_groupe_competence_edit', {'id': groupe_competence.id}) }}">Modifier</a>

    {{ include('groupe_competence/_delete_form.html.twig') }}
{% endblock %}
