{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
<table class="table">
    <thead>
    <tr>
        <th>prenom</th>
        <th>nom</th>
        <th>email</th>
        <th>promo</th>
        <th>option</th>
        <th>role</th>
    </tr>
    </thead>
    <tbody>
    {% for i in users %}
        <tr>
            <td> {{ i.prenom }}</td>
            <td>{{ i.nom }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.promo }}</td>
            <td>{{ i.option }}</td>
            {%if 'ROLE_USER' in i.roles %}
            <td>Eleve</td>
            {% else %}
                <td>Professeur</td>
            {% endif %}
            <td>

                <a href="{{ path('app_eleve_show', {'id': i.id}) }}">Voir</a>
                <a href="{{ path('app_eleve_edit', {'id': i.id}) }}">Modifer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">aucun enregistrement trouver</td>
        </tr>
    {% endfor %}
</table>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    <table class="table">
        <thead>
        <tr>
            <th>prenom</th>
            <th>nom</th>
            <th>email</th>
            <th>promo</th>
            <th>option</th>
        </tr>
        </thead>
        <tbody>
        {% for i in eleves %}
            <tr>
                <td> {{ i.prenom }}</td>
                <td>{{ i.nom }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.promo }}</td>
                <td>{{ i.option }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': i.id}) }}">Voir</a>
                    <a href="{{ path('app_eleve_edit', {'id': i.id}) }}">Modifer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <table class="table">
            <thead>
            <tr>
                <th>situation</th>
                <th>lieu</th>
                <th>date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in situation %}
                <tr>
                    <td>{{ i.nom }}</td>
                    <td> {{ i.lieu }}</td>
                    <td>{{  i.date|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('app_situation_show', {'id': i.id}) }}">Voir</a>
                        <a href="{{ path('app_situation_edit', {'id': i.id}) }}">Modifer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
    {% endif %}
        </tbody>
    </table>

{% endblock %}
