{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_accueil') }}">Porte-feuille de competences</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_prof_new') }}">Créer un professeur</a>
                    </li>
                    <li>
                    <a class="nav-link" href="{{ path('app_eleve_new') }}">Créer un eleve</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_situation_new') }}">nouvelle situation</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profil_index') }}"><img src="{{ asset('img/kisspng-user-profile-computer-icons-login-clip-art-profile-picture-icon-5b49de2f816d32.9226305815315676635301.png') }}" alt="Symfony!"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><img src="{{ asset('img/kisspng-computer-icons-login-clip-art-exit-5ac7710254b211.5316835815230200343469.png') }}" alt="Symfony!"/></a>
                </li>
            </ul>
        </div>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}
<table class="table">
    <thead>
    <tr>
        <th>prenom</th>
        <th>nom</th>
        <th>email</th>
        <th>promo</th>
        <th>option</th>
        <th>role</th>
    </tr>
    </thead>
    <tbody>
    {% for i in users %}
        <tr>
            <td> {{ i.prenom }}</td>
            <td>{{ i.nom }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.promo }}</td>
            <td>{{ i.option }}</td>
            {%if 'ROLE_USER' in i.roles %}
            <td>Eleve</td>
            {% else %}
                <td>Professeur</td>
            {% endif %}
            <td>

                <a href="{{ path('app_eleve_show', {'id': i.id}) }}">Voir</a>
                <a href="{{ path('app_eleve_edit', {'id': i.id}) }}">Modifer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">aucun enregistrement trouver</td>
        </tr>
    {% endfor %}
</table>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    <table class="table">
        <thead>
        <tr>
            <th>prenom</th>
            <th>nom</th>
            <th>email</th>
            <th>promo</th>
            <th>option</th>
        </tr>
        </thead>
        <tbody>
        {% for i in eleves %}
            <tr>
                <td> {{ i.prenom }}</td>
                <td>{{ i.nom }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.promo }}</td>
                <td>{{ i.option }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': i.id}) }}">Voir</a>
                    <a href="{{ path('app_eleve_edit', {'id': i.id}) }}">Modifer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <table class="table">
            <thead>
            <tr>
                <th>situation</th>
                <th>lieu</th>
                <th>date</th>
                <th>competences</th>
                <th>validation</th>
            </tr>
            </thead>
            <tbody>
            {% for i in situation %}
                <tr>
                    <td>{{ i.nom }}</td>
                    <td> {{ i.lieu }}</td>
                    <td>{{  i.date|date('Y-m-d') }}</td>
                    {% for j in i.competences %}
                    <td>{{ j.nom }}</td>
                    {% endfor %}
                    <td></td>
                    <td>
                        <a href="{{ path('app_eleve_show', {'id': i.id}) }}">Voir</a>
                        <a href="{{ path('app_eleve_edit', {'id': i.id}) }}">Modifer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
    {% endif %}
        </tbody>
    </table>

{% endblock %}
