{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
   {% block stylesheets %}    <link rel="stylesheet" href="{{ asset('CSS/StyleNew.css') }}"> {% endblock %}

{% block body %}


    <div class="login-card mt-2" >
    <h1 class="text-center">Créer un nouvelle Eleve</h1>

    <div class="formAll">
        {{ form_start(form) }}
        {{ form_row(form.email, {'label': 'E-mail :'}) }}
        {{ form_row(form.prenom, {'label': 'Prénom :'}) }}
        {{ form_row(form.nom, {'label': 'Nom :'}) }}
        {{ form_row(form.password) }}
        {{ form_row(form.option, {'label': 'Option :'}) }}
        {{ form_row(form.dateDeNaissance, {'label': 'Date de Naissance :'}) }}
        {{ form_row(form.promo) }}
        {{ form_row(form.portefeuille) }}
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
        <a href="{{ app.request.headers.get('referer') }}">back</a>
    </div>
{% endblock %}