{% extends 'base.html.twig' %}

{% block title %}Prof index{% endblock %}

{% block body %}
    <h1>Prof index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prof in profs %}
            <tr>
                <td>{{ prof.id }}</td>
                <td>{{ prof.nom }}</td>
                <td>{{ prof.prenom }}</td>
                <td>{{ prof.date ? prof.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_prof_show', {'id': prof.id}) }}">show</a>
                    <a href="{{ path('app_prof_edit', {'id': prof.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prof_new') }}">Create new</a>
{% endblock %}
